.footer {
    display: flex;
    align-items: start;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    background-color: #004aad;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-section {
    /* flex: 1 2 200px; */
    margin: 10px;
  }
  .footer-section h3{
    color: bisque;
  }
  
  .footer-logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .quick-links {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links li {
    margin: 5px 0;
  }
  
  .quick-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .quick-links a:hover {
    color:#f4b400;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  .social-media img {
    height: 20px;
    width: 20px;
    transition: transform 0.3s;
  }
  
  .social-media img:hover {
    transform: scale(1.2);
  }
  
  address {
    line-height: 1.5;
  }
  